Repository traefik/mesh, pull requests merged in 2020-06, with the labels that each got.

#608 Move API outside of the Controller
  cmd/maesh/maesh.go
  go.sum
  pkg/api/api.go
  pkg/api/api_test.go
  pkg/controller/controller.go
  pkg/controller/controller_test.go
  pkg/signals/signal.go
  pkg/signals/signal_posix.go
  pkg/signals/signal_windows.go
Labels: area/api, area/controller, kind/enhancement, status/3-needs-merge

#616 Retrieve port mapping from existing shadow services
  cmd/maesh/maesh.go
  helm/chart/maesh/templates/controller/controller-configmap.yaml
  integration/acl_disabled_test.go
  integration/acl_enabled_test.go
  integration/coredns_test.go
  integration/kubedns_test.go
  integration/testdata/state-table/tcp-configmap.yml
  integration/testdata/state-table/udp-configmap.yaml
  pkg/controller/controller.go
  pkg/controller/controller_test.go
  pkg/controller/portmapping.go
  pkg/controller/portmapping_test.go
  pkg/controller/service.go
  pkg/controller/service_test.go
  pkg/k8s/constants.go
  pkg/k8s/portmapping.go
  pkg/k8s/portmapping_test.go
  pkg/k8s/service.go
  pkg/provider/provider.go
  pkg/provider/provider_test.go
Labels: area/controller, area/helm, area/services, kind/enhancement, status/3-needs-merge

#606 Rename method and vars for loop removal
  pkg/topology/builder.go
Labels: area/topology, kind/enhancement, status/3-needs-merge

#623 Ignore ExternalName services
  pkg/controller/controller.go
  pkg/k8s/ignore.go
  pkg/k8s/ignore_test.go
  pkg/topology/builder.go
Labels: area/controller, area/tests, area/topology, kind/bug/fix, status/3-needs-merge

#626 Use custom env and file loaders to load Maesh config
  cmd/cleanup/cleanup.go
  cmd/configuration.go
  cmd/loaders.go
  cmd/log.go
  cmd/maesh/maesh.go
  cmd/prepare/prepare.go
  pkg/k8s/client.go
Labels: area/configuration, area/controller, kind/enhancement, status/3-needs-merge

#628 Gracefully shutdown controller on SIGTERM or SIGINT
  cmd/maesh/maesh.go
Labels: area/api, area/controller, kind/bug/fix, status/3-needs-merge

#629 Improve log clarity about missing pod keys for provider
  docs/content/install.md
  pkg/provider/provider.go
Labels: area/logs, area/provider, kind/enhancement, status/3-needs-merge

#634 Stop wrapping nil error when patching DNS
  pkg/dns/dns.go
Labels: area/coredns, area/kubedns, area/logs, kind/bug/fix, status/3-needs-merge

#632 Add watch namespaces option to the controller
  cmd/configuration.go
  cmd/maesh/maesh.go
  helm/chart/maesh/templates/_helpers.tpl
  helm/chart/maesh/templates/controller/controller-deployment.yaml
  helm/chart/maesh/values.yaml
  pkg/controller/controller.go
  pkg/controller/portmapping.go
  pkg/controller/portmapping_test.go
  pkg/controller/service.go
  pkg/controller/service_test.go
  pkg/k8s/filter.go
  pkg/k8s/filter_test.go
  pkg/k8s/ignore.go
  pkg/k8s/ignore_test.go
  pkg/k8s/namespace.go
  pkg/k8s/namespace_test.go
  pkg/k8s/service.go
  pkg/k8s/service_test.go
  pkg/provider/provider.go
  pkg/provider/provider_test.go
  pkg/topology/builder.go
  pkg/topology/builder_test.go
Labels: area/controller, area/helm, kind/enhancement, status/3-needs-merge

#637 Add customizable Grafana and Prometheus service object in Helm chart
  helm/chart/maesh/charts/metrics/templates/grafana.yaml
  helm/chart/maesh/charts/metrics/templates/prometheus.yaml
  helm/chart/maesh/charts/metrics/values.yaml
Labels: area/helm, area/metrics, kind/enhancement, status/3-needs-merge

#636 Stop accepting multiple TrafficSplits or both TrafficSplit and TrafficTarget on the same Service
  pkg/topology/builder.go
  pkg/topology/builder_test.go
  pkg/topology/testdata/topology-traffic-split-traffic-target.json
  pkg/topology/testdata/topology-traffic-target.json
  pkg/topology/topology.go
Labels: area/topology, kind/bug/fix, status/3-needs-merge

#640 Fix typos in migration documentation
  docs/content/migration/maesh-v1.md
Labels: area/documentation, status/3-needs-merge

#642 Add a max retry for getting coredns service
  pkg/dns/dns.go
Labels: area/coredns, kind/bug/fix, status/3-needs-merge

#647 Add migration documentation for Prometheus and Grafana services
  docs/content/install.md
  docs/content/migration/helm-chart.md
Labels: area/documentation, area/helm, status/3-needs-merge

#645 Support CoreDNS 1.7.0
  integration/coredns_test.go
  integration/integration_test.go
  pkg/dns/dns.go
Labels: area/coredns, kind/enhancement, status/3-needs-merge

#639 Support named TargetPort in service resources
  pkg/api/api.go
  pkg/controller/controller.go
  pkg/controller/service.go
  pkg/provider/provider.go
  pkg/provider/provider_test.go
  pkg/provider/testdata/acl-disabled-http-basic-config.json
  pkg/provider/testdata/acl-disabled-http-basic-topology.json
  pkg/provider/testdata/acl-disabled-tcp-basic-config.json
  pkg/provider/testdata/acl-disabled-tcp-basic-topology.json
  pkg/provider/testdata/acl-disabled-udp-basic-config.json
  pkg/provider/testdata/acl-disabled-udp-basic-topology.json
  pkg/provider/testdata/acl-enabled-http-basic-config.json
  pkg/provider/testdata/acl-enabled-http-basic-topology.json
  pkg/provider/testdata/acl-enabled-tcp-basic-config.json
  pkg/provider/testdata/acl-enabled-tcp-basic-topology.json
  pkg/topology/builder.go
  pkg/topology/builder_test.go
  pkg/topology/topology.go
  pkg/topology/topology_test.go
Labels: area/controller, area/provider, area/topology, status/3-needs-merge

#650 Dedupe the service pods indexed in the topology
  pkg/topology/builder.go
  pkg/topology/builder_test.go
  pkg/topology/testdata/topology-service-with-pod-port-mixture.json
Labels: area/topology, kind/bug/fix, status/3-needs-merge
