Repository traefik/mesh, pull requests merged in 2020-08, with the labels that each got.

#698 Remove unused Azure/go-autorest dependency
  go.mod
Labels: area/infrastructure, bot/light-review, kind/bug/fix, status/3-needs-merge

#691 Update smi-sdk-go to v0.4
  cmd/cleanup/cleanup.go
  cmd/maesh/maesh.go
  cmd/prepare/prepare.go
  go.mod
  go.sum
  integration/integration_test.go
  integration/try/try.go
  pkg/cleanup/cleanup.go
  pkg/cleanup/cleanup_test.go
  pkg/controller/controller.go
  pkg/controller/service.go
  pkg/controller/service_test.go
  pkg/dns/dns.go
  pkg/dns/dns_test.go
  pkg/prepare/prepare.go
  pkg/topology/builder.go
  pkg/topology/builder_test.go
Labels: area/smi, area/traefik, kind/enhancement, status/3-needs-merge

#700 Add mixtus for documentation
  .travis.yml
Labels: area/infrastructure, bot/light-review, kind/enhancement, status/3-needs-merge

#699 Add a configuration section to the Helm chart readme
  helm/chart/maesh/README.md
  helm/chart/maesh/templates/mesh/mesh-daemonset.yaml
  helm/chart/maesh/values.yaml
Labels: area/documentation, area/helm, kind/enhancement, status/3-needs-merge

#703 Update SMI resource versions
  docs/content/configuration.md
  docs/content/examples.md
  go.sum
  helm/chart/maesh/crds/smi-access.yaml
  helm/chart/maesh/crds/smi-spec.yaml
  helm/chart/maesh/crds/smi-specs.yaml
  helm/chart/maesh/crds/smi-split.yaml
  helm/chart/maesh/crds/smi-trafficsplits.yaml
  integration/integration_test.go
  integration/testdata/acl/disabled/traffic-split/1.server.yaml
  integration/testdata/acl/enabled/traffic-split/2.server.yaml
  integration/testdata/acl/enabled/traffic-split/5.traffic-target.yaml
  integration/testdata/acl/enabled/traffic-target/3.traffic-target.yaml
  integration/testdata/smi/crds/smi-access.yaml
  integration/testdata/smi/crds/smi-spec.yaml
  integration/testdata/smi/crds/smi-specs.yaml
  integration/testdata/smi/crds/smi-split.yaml
  integration/testdata/smi/crds/smi-trafficsplits.yaml
  pkg/controller/controller.go
  pkg/k8s/client_mock.go
  pkg/prepare/prepare.go
  pkg/provider/rule.go
  pkg/topology/builder.go
  pkg/topology/builder_test.go
  pkg/topology/testdata/topology-spec-with-empty-match.json
  pkg/topology/testdata/topology-traffic-split-traffic-target.json
  pkg/topology/testdata/topology-traffic-target.json
  pkg/topology/topology.go
Labels: area/helm, area/smi, kind/enhancement, status/3-needs-merge

#706 Removes unnecessary traefik pkg dependencies
  cmd/cleanup/cleanup.go
  cmd/configuration.go
  cmd/loaders.go
  cmd/maesh/maesh.go
  cmd/prepare/prepare.go
  cmd/version/version.go
  go.mod
  go.sum
  integration/integration_test.go
  integration/try/try.go
  pkg/api/api.go
  pkg/api/api_test.go
  pkg/dns/dns.go
  pkg/k8s/client_mock.go
  pkg/safe/recover.go
  pkg/safe/recover_test.go
  pkg/safe/safe.go
  pkg/safe/safe_test.go
Labels: area/infrastructure, area/traefik, status/3-needs-merge

#705 Add support for header-based filtering on TrafficTargets
  pkg/provider/provider.go
  pkg/provider/provider_test.go
  pkg/provider/rule.go
  pkg/provider/testdata/acl-enabled-http-route-group-config.json
  pkg/provider/testdata/acl-enabled-http-route-group-topology.json
  pkg/provider/testdata/acl-enabled-tcp-basic-topology.json
  pkg/topology/builder.go
  pkg/topology/builder_test.go
  pkg/topology/testdata/topology-spec-with-empty-match.json
  pkg/topology/testdata/topology-traffic-split-traffic-target.json
  pkg/topology/testdata/topology-traffic-target.json
  pkg/topology/topology.go
Labels: area/smi, kind/enhancement, status/3-needs-merge

#709 Add support for TrafficSplit filtering
  pkg/controller/controller.go
  pkg/k8s/constants.go
  pkg/prepare/prepare.go
  pkg/provider/provider.go
  pkg/provider/provider_test.go
  pkg/provider/rule.go
  pkg/provider/testdata/acl-enabled-http-traffic-split-http-route-group-config.json
  pkg/provider/testdata/acl-enabled-http-traffic-split-http-route-group-topology.json
  pkg/topology/builder.go
  pkg/topology/builder_test.go
  pkg/topology/testdata/topology-traffic-split-specs.json
  pkg/topology/testdata/topology-traffic-split-traffic-target.json
  pkg/topology/topology.go
Labels: area/provider, area/smi, area/topology, kind/enhancement, status/3-needs-merge

#713 Fix controller signal handling
  cmd/context.go
  cmd/maesh/maesh.go
  pkg/controller/controller.go
Labels: area/controller, kind/bug/fix, status/3-needs-merge

#715 Fix timeout on start informers
  pkg/controller/controller.go
Labels: area/controller, kind/bug/fix, status/3-needs-merge

#714 Check SMI CRDs version before starting the controller
  cmd/maesh/maesh.go
  cmd/prepare/prepare.go
  integration/try/try.go
  pkg/k8s/smi.go
  pkg/prepare/prepare.go
Labels: area/prepare, area/smi, kind/enhancement, status/3-needs-merge

#716 Remove unnecessary RBAC rules for controller and proxy
  helm/chart/maesh/templates/controller/controller-rbac.yaml
  helm/chart/maesh/templates/coredns/coredns-configmap.yaml
  helm/chart/maesh/templates/coredns/coredns-deployment.yaml
  helm/chart/maesh/templates/coredns/coredns-rbac.yaml
  helm/chart/maesh/templates/coredns/coredns-sa.yaml
  helm/chart/maesh/templates/coredns/coredns-service.yaml
  helm/chart/maesh/templates/mesh/mesh-daemonset.yaml
  helm/chart/maesh/templates/mesh/mesh-rbac.yaml
  helm/chart/maesh/templates/mesh/mesh-sa.yaml
  pkg/api/api_test.go
  pkg/cleanup/cleanup_test.go
  pkg/controller/controller_test.go
  pkg/dns/dns_test.go
  pkg/k8s/client_mock.go
Labels: area/controller, area/helm, kind/enhancement, status/3-needs-merge

#717 Improve prepare command logs
  pkg/dns/dns.go
  pkg/k8s/client.go
Labels: area/logs, area/prepare, kind/enhancement, status/3-needs-merge
