Repository traefik/mesh, pull requests merged in 2020-05, with the labels that each got.

#526 Update github templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: area/infrastructure, kind/enhancement, status/3-needs-merge

#536 Add more topology keys
  pkg/controller/service.go
Labels: area/services, kind/enhancement, status/3-needs-merge

#535 Remove unneeded Helm install
  integration/acl_enabled_test.go
Labels: area/tests, kind/bug/fix, status/3-needs-merge

#537 Upgrade Traefik dependency version to v2.2.1
  go.mod
  go.sum
Labels: area/infrastructure, area/traefik, kind/enhancement, status/3-needs-merge

#529 Inject errors in topology
  pkg/controller/controller.go
  pkg/k8s/client.go
  pkg/k8s/client_mock.go
  pkg/prepare/prepare.go
  pkg/provider/provider.go
  pkg/topology/builder.go
  pkg/topology/builder_test.go
  pkg/topology/topology.go
Labels: area/logs, kind/enhancement, priority/P1, status/3-needs-merge

#525 Add HTTP provider to proxy nodes
  cmd/configuration.go
  cmd/context.go
  cmd/maesh/maesh.go
  cmd/prepare/prepare.go
  cmd/proxy/proxy.go
  go.mod
  go.sum
  helm/chart/maesh/templates/controller/controller-service.yaml
  helm/chart/maesh/templates/mesh/mesh-daemonset.yaml
  helm/chart/maesh/values.yaml
  integration/helm_test.go
  integration/integration_test.go
  integration/resources/values.yaml
  integration/try/try.go
  pkg/api/api.go
  pkg/api/api_test.go
  pkg/controller/controller.go
  pkg/deploylog/log.go
  pkg/deploylog/log_test.go
  pkg/proxy/provider/http/http.go
  pkg/proxy/provider/http/http_test.go
Labels: area/controller, kind/enhancement, status/3-needs-merge

#541 Fix missing UDP port limit config in Helm chart
  helm/chart/maesh/templates/controller/controller-deployment.yaml
Labels: area/helm, kind/bug/fix, status/3-needs-merge

#542 Remove unused env variable POD_IP in Helm chart
  helm/chart/maesh/templates/controller/controller-deployment.yaml
Labels: area/helm, kind/task, status/3-needs-merge

#548 Update Deps
  go.mod
  go.sum
Labels: area/infrastructure, kind/enhancement, status/3-needs-merge

#531 Multiple middleware support & annotations refactoring
  pkg/annotations/annotations.go
  pkg/annotations/annotations_test.go
  pkg/annotations/middleware.go
  pkg/annotations/middleware_test.go
  pkg/controller/controller.go
  pkg/controller/service.go
  pkg/k8s/constants.go
  pkg/provider/key.go
  pkg/provider/middleware.go
  pkg/provider/provider.go
  pkg/provider/provider_test.go
Labels: area/services, kind/enhancement, provider, status/3-needs-merge

#552 Add custom namespace to helm rewrite
  helm/chart/maesh/templates/dns/coredns/coredns-configmap.yaml
Labels: area/coredns, area/helm, kind/bug/fix, status/3-needs-merge

#553 Remove deployment api endpoint documentation
  docs/content/api.md
Labels: area/controller, area/documentation, kind/enhancement, status/3-needs-merge

#555 Cleanup port mapping before getting a new port
  pkg/controller/service.go
Labels: area/services, kind/bug/fix, status/3-needs-merge

#556 Add log level configuration property to commands
  cmd/configuration.go
  cmd/maesh/maesh.go
  cmd/prepare/prepare.go
  cmd/proxy/proxy.go
  docs/content/configuration.md
  docs/content/migration/helm-chart.md
  docs/content/migration/maesh-v1.md
  helm/chart/maesh/templates/controller/controller-deployment.yaml
  helm/chart/maesh/templates/mesh/mesh-daemonset.yaml
  helm/chart/maesh/values.yaml
  integration/integration_test.go
Labels: area/configuration, area/controller, area/documentation, area/helm, area/logs, status/3-needs-merge

#538 Add Cleanup Command
  cmd/cleanup/cleanup.go
  cmd/configuration.go
  cmd/maesh/maesh.go
  helm/chart/maesh/templates/controller/controller-deployment.yaml
  helm/chart/maesh/templates/controller/hooks/cleanup-hook.yaml
  pkg/cleanup/cleanup.go
  pkg/cleanup/cleanup_test.go
  pkg/cleanup/fixtures/mock.yaml
  pkg/controller/service.go
  pkg/controller/service_test.go
Labels: area/helm, area/services, kind/bug/fix, status/3-needs-merge

#554 Rebuild dynamic configuration on pod events
  pkg/controller/controller.go
  pkg/controller/handler.go
  pkg/k8s/constants.go
  pkg/provider/provider.go
  pkg/provider/provider_test.go
Labels: area/configuration, area/controller, area/kubernetes-client, status/3-needs-merge

#557 Cleanup log messages
  cmd/maesh/maesh.go
  cmd/prepare/prepare.go
  integration/integration_test.go
  pkg/controller/controller.go
  pkg/prepare/prepare.go
  pkg/proxy/provider/http/http.go
Labels: area/logs, kind/enhancement, status/3-needs-merge

#558 Add simple compatibility section
  docs/content/compatibility.md
  docs/mkdocs.yml
Labels: area/documentation, kind/enhancement, status/3-needs-merge

#551 Add destination namespace check in indexer
  docs/content/configuration.md
  pkg/topology/builder.go
  pkg/topology/builder_test.go
Labels: area/smi, kind/bug/fix, status/3-needs-merge

#566 Prepare Release v1.2
  helm/chart/maesh/Chart.yaml
Labels: area/infrastructure, bot/light-review, kind/enhancement, status/3-needs-merge

#567 Increase goreleaser build timeout
  .travis.yml
Labels: area/infrastructure, kind/enhancement, status/3-needs-merge

#568 Increase goreleaser build timeout
  .travis.yml
Labels: area/infrastructure, kind/bug/fix, status/3-needs-merge

#569 Disable non-used builds
  .goreleaser.yml
Labels: area/infrastructure, bot/light-review, kind/bug/fix, status/3-needs-merge

#572 Disable non-used builds
  .goreleaser.yml
Labels: area/infrastructure, kind/bug/fix, status/3-needs-merge

#575 Refine the controller readiness status
  pkg/api/api.go
  pkg/controller/controller.go
  pkg/provider/provider.go
Labels: area/api, area/controller, kind/enhancement, status/3-needs-merge

#574 Add Code of Conduct
  CODE_OF_CONDUCT.md
Labels: area/documentation, kind/enhancement, status/3-needs-merge

#573 Remove unneeded createMeshServices method in controller
  pkg/controller/controller.go
  pkg/controller/handler.go
Labels: area/controller, kind/enhancement, status/3-needs-merge

#579 Add testing to client mock
  pkg/api/api_test.go
  pkg/cleanup/cleanup_test.go
  pkg/controller/controller_test.go
  pkg/k8s/client_mock.go
  pkg/prepare/prepare_test.go
Labels: area/kubernetes-client, area/tests, kind/enhancement, status/3-needs-merge

#564 Upgrade golangci-lint and refactor to meet proper linting settings
  .golangci.toml
  Dockerfile
  cmd/context.go
  cmd/proxy/proxy.go
  integration/acl_disabled_test.go
  integration/acl_enabled_test.go
  integration/coredns_test.go
  integration/helm_test.go
  integration/integration_test.go
  integration/kubedns_test.go
  integration/try/condition.go
  pkg/api/api.go
  pkg/controller/controller.go
  pkg/controller/service.go
  pkg/controller/service_test.go
  pkg/k8s/client.go
  pkg/k8s/client_mock.go
  pkg/prepare/prepare.go
  pkg/provider/provider.go
  pkg/provider/rule.go
  pkg/proxy/provider/http/http.go
  pkg/topology/builder.go
Labels: area/infrastructure, area/tests, kind/enhancement, status/3-needs-merge

#587 Remove Preparer interface
  pkg/prepare/prepare.go
Labels: area/infrastructure, kind/enhancement, status/3-needs-merge

#588 Update grafana dashboard for traefik v2 metric naming schema
  helm/chart/maesh/charts/metrics/dashboards/traefik.json
Labels: area/helm, area/metrics, kind/enhancement, status/3-needs-merge

#584 Build kubernetes clients separately
  integration/integration_test.go
  integration/try/try.go
  pkg/cleanup/cleanup.go
  pkg/cleanup/cleanup_test.go
  pkg/controller/controller.go
  pkg/k8s/client.go
  pkg/k8s/client_mock.go
  pkg/prepare/prepare.go
  pkg/prepare/prepare_test.go
Labels: area/kubernetes-client, area/logs, kind/enhancement, status/3-needs-merge

#582 Fix incomplete topology when destination port is not found
  pkg/topology/builder.go
  pkg/topology/builder_test.go
  pkg/topology/testdata/topology-traffic-target-service-port-mismatch.json
  pkg/topology/topology.go
Labels: area/topology, kind/bug/fix, status/3-needs-merge

#591 Fix broken SMI specification links in the documentation
  docs/content/configuration.md
  docs/content/examples.md
Labels: area/documentation, area/smi, kind/enhancement, status/3-needs-merge

#590 Add forwardingTimeouts
  helm/chart/maesh/templates/mesh/mesh-daemonset.yaml
  helm/chart/maesh/values.yaml
Labels: area/configuration, area/helm, kind/enhancement, status/3-needs-merge

#595 Remove Helm install from kubedns suite
  integration/helm_test.go
  integration/integration_test.go
  integration/kubedns_test.go
  integration/testdata/build/Dockerfile
  integration/testdata/build/entrypoint.sh
  integration/testdata/kubedns/coredns.yaml
  integration/try/try.go
Labels: area/coredns, area/helm, area/tests, kind/enhancement, status/3-needs-merge

#596 Refactor and clean Helm chart options
  helm/chart/maesh/templates/controller/controller-deployment.yaml
  helm/chart/maesh/values.yaml
Labels: area/helm, kind/enhancement, status/3-needs-merge

#589 Patch and unpatch DNS configmap
  cmd/cleanup/cleanup.go
  cmd/prepare/prepare.go
  helm/chart/maesh/templates/controller/hooks/cleanup-hook.yaml
  integration/helm_test.go
  integration/integration_test.go
  integration/try/try.go
  pkg/cleanup/cleanup.go
  pkg/dns/dns.go
  pkg/dns/dns_test.go
  pkg/dns/testdata/checkdnsprovider_kubedns.yaml
  pkg/dns/testdata/checkdnsprovider_no_provider.yaml
  pkg/dns/testdata/checkdnsprovider_supported_version.yaml
  pkg/dns/testdata/checkdnsprovider_unsupported_version.yaml
  pkg/dns/testdata/configurecoredns_already_patched.yaml
  pkg/dns/testdata/configurecoredns_missing_configmap.yaml
  pkg/dns/testdata/configurecoredns_missing_deployment.yaml
  pkg/dns/testdata/configurecoredns_not_patched.yaml
  pkg/dns/testdata/configurekubedns_already_patched.yaml
  pkg/dns/testdata/configurekubedns_missing_deployment.yaml
  pkg/dns/testdata/configurekubedns_not_patched.yaml
  pkg/dns/testdata/restorecoredns_already_patched.yaml
  pkg/dns/testdata/restorecoredns_not_patched.yaml
  pkg/dns/testdata/restorekubedns_already_patched.yaml
  pkg/dns/testdata/restorekubedns_not_patched.yaml
  pkg/prepare/prepare.go
  pkg/prepare/prepare_test.go
Labels: area/coredns, area/infrastructure, kind/enhancement, status/3-needs-merge

#600 Add default config values for pollInterval and pollTimeout
  cmd/configuration.go
  helm/chart/maesh/Guidelines.md
  helm/chart/maesh/templates/mesh/mesh-daemonset.yaml
  helm/chart/maesh/values.yaml
  pkg/proxy/provider/http/http.go
Labels: area/configuration, area/helm, area/traefik, kind/enhancement, status/3-needs-merge

#601 Add Helm option to configure logging level globally
  helm/chart/maesh/Chart.yaml
  helm/chart/maesh/templates/_helpers.tpl
  helm/chart/maesh/templates/controller/controller-deployment.yaml
  helm/chart/maesh/templates/controller/hooks/cleanup-hook.yaml
  helm/chart/maesh/templates/mesh/mesh-daemonset.yaml
  helm/chart/maesh/values.yaml
Labels: area/configuration, area/helm, area/logs, kind/enhancement, status/3-needs-merge

#592 Rework controller loop to use a work queue
  cmd/maesh/maesh.go
  pkg/annotations/annotations_test.go
  pkg/controller/controller.go
  pkg/controller/controller_test.go
  pkg/controller/handler.go
  pkg/controller/handler_test.go
  pkg/controller/service.go
  pkg/controller/service_test.go
  pkg/k8s/portmapping.go
  pkg/k8s/portmapping_test.go
  pkg/k8s/service.go
  pkg/provider/provider_test.go
Labels: area/controller, kind/enhancement, status/3-needs-merge

#604 Add json logger
  cmd/cleanup/cleanup.go
  cmd/configuration.go
  cmd/log.go
  cmd/maesh/maesh.go
  cmd/prepare/prepare.go
  docs/content/configuration.md
  helm/chart/maesh/templates/controller/controller-deployment.yaml
  helm/chart/maesh/templates/controller/hooks/cleanup-hook.yaml
  helm/chart/maesh/templates/mesh/mesh-daemonset.yaml
  helm/chart/maesh/values.yaml
Labels: area/configuration, kind/enhancement, status/3-needs-merge

#603 Patch our CoreDNS implementation in kube-dns mode
  helm/chart/maesh/templates/dns/coredns/coredns-configmap.yaml
  integration/testdata/kubedns/coredns.yaml
  pkg/dns/dns.go
  pkg/dns/dns_test.go
  pkg/dns/testdata/configurekubedns_already_patched.yaml
  pkg/dns/testdata/configurekubedns_not_patched.yaml
  pkg/prepare/prepare.go
Labels: area/coredns, area/kubedns, kind/enhancement, status/3-needs-merge

#609 Update values.yaml
  helm/chart/maesh/values.yaml
Labels: area/infrastructure, kind/enhancement, status/3-needs-merge

#610 Add error handling to the informer startup
  cmd/maesh/maesh.go
  pkg/controller/controller.go
Labels: area/controller, kind/bug/fix, status/3-needs-merge

#611 Fix jaeger init container
  helm/chart/maesh/templates/mesh/mesh-daemonset.yaml
  helm/chart/maesh/templates/mesh/mesh-rbac.yaml
  helm/chart/maesh/templates/mesh/mesh-sa.yaml
Labels: area/helm, area/tracing, kind/bug/fix, status/3-needs-merge

#613 Add Helm keys to configure annotations for mesh deployment and pods
  helm/chart/maesh/templates/mesh/mesh-daemonset.yaml
  helm/chart/maesh/values.yaml
Labels: area/helm, kind/enhancement, status/3-needs-merge

#614 Move the defaultMode Helm key to be global
  docs/content/install.md
  docs/content/migration/helm-chart.md
  helm/chart/maesh/templates/controller/controller-deployment.yaml
  helm/chart/maesh/values.yaml
Labels: area/helm, kind/enhancement, status/3-needs-merge
