Repository traefik/mesh, pull requests merged in 2020-10, with the labels that each got.

#757 Remove configuration file support
  cmd/cleanup/cleanup.go
  cmd/configuration.go
  cmd/env.go
  cmd/loaders.go
  cmd/mesh/mesh.go
  cmd/prepare/prepare.go
Labels: area/configuration, kind/enhancement, status/3-needs-merge

#751 Use standard labels
  integration/testdata/coredns/whoami-shadow-service.yaml
  integration/testdata/traefik-mesh/controller-acl-disabled.yaml
  integration/testdata/traefik-mesh/controller-acl-enabled.yaml
  integration/testdata/traefik-mesh/proxy.yaml
  pkg/api/api.go
  pkg/api/testdata/getmeshnodeconfiguration_simple.yaml
  pkg/api/testdata/getmeshnodes_one_mesh_pod.yaml
  pkg/api/testdata/getmeshnodes_one_nonready_mesh_pod.yaml
  pkg/cleanup/cleanup.go
  pkg/cleanup/testdata/mock.yaml
  pkg/controller/controller.go
  pkg/controller/portmapping.go
  pkg/controller/portmapping_test.go
  pkg/controller/service.go
  pkg/controller/testdata/getmeshnodeconfiguration_empty.yaml
  pkg/controller/testdata/getmeshnodeconfiguration_simple.yaml
  pkg/controller/testdata/getmeshnodes_empty.yaml
  pkg/controller/testdata/getmeshnodes_one_mesh_pod.yaml
  pkg/controller/testdata/getmeshnodes_one_nonready_mesh_pod.yaml
  pkg/k8s/filter.go
  pkg/k8s/filter_test.go
  pkg/k8s/labels.go
Labels: kind/enhancement, status/3-needs-merge

#759 Split command configurations
  .goreleaser.yml
  Makefile
  cmd/cleanup/cleanup.go
  cmd/cleanup/config.go
  cmd/configuration.go
  cmd/mesh/config.go
  cmd/mesh/mesh.go
  cmd/prepare/config.go
  cmd/prepare/prepare.go
  docs/content/contributing/building-testing.md
Labels: area/configuration, kind/enhancement, status/3-needs-merge

#762 Return an error if the API or controller stops unexpectedly
  cmd/mesh/mesh.go
  cmd/prepare/prepare.go
  pkg/api/api.go
  pkg/api/api_test.go
  pkg/controller/controller_test.go
  pkg/controller/handler_test.go
  pkg/controller/service_test.go
  pkg/dns/dns_test.go
  pkg/k8s/client.go
Labels: area/controller, area/logs, kind/enhancement, status/3-needs-merge

#764 Cleanup API endpoints
  cmd/mesh/mesh.go
  docs/content/api.md
  integration/testdata/traefik-mesh/controller-acl-disabled.yaml
  integration/testdata/traefik-mesh/controller-acl-enabled.yaml
  integration/testdata/traefik-mesh/proxy.yaml
  pkg/api/api.go
  pkg/api/api_test.go
  pkg/controller/controller.go
  pkg/controller/controller_test.go
Labels: area/api, kind/enhancement, status/3-needs-merge

#766 Add Traefik Pilot to docs switcher menu
  docs/theme/partials/product-switcher.html
Labels: area/documentation, kind/enhancement, status/3-needs-merge

#767 Deny HTTP traffic when no HTTPRouteGroup is given
  integration/testdata/acl_enabled/http/6.traffic-target.yaml
  integration/testdata/acl_enabled/traffic-split/1.server-split.yaml
  pkg/provider/provider.go
  pkg/provider/rule.go
  pkg/provider/testdata/acl-enabled-http-basic-topology.json
  pkg/provider/testdata/acl-enabled-http-route-group-topology.json
  pkg/provider/testdata/acl-enabled-http-traffic-split-http-route-group-topology.json
  pkg/provider/testdata/acl-enabled-http-traffic-split-topology.json
  pkg/topology/builder.go
  pkg/topology/testdata/topology-traffic-split-traffic-target.json
  pkg/topology/testdata/topology-traffic-target.json
  pkg/topology/topology.go
Labels: area/smi, area/topology, kind/bug/fix, status/3-needs-merge

#763 Add HTTP port mapper
  cmd/mesh/mesh.go
  docs/content/compatibility.md
  integration/testdata/coredns/whoami-shadow-service.yaml
  pkg/annotations/annotations.go
  pkg/annotations/annotations_test.go
  pkg/controller/controller.go
  pkg/controller/portmapping.go
  pkg/controller/portmapping_test.go
  pkg/controller/service.go
  pkg/controller/service_test.go
  pkg/dns/dns.go
  pkg/dns/dns_test.go
  pkg/dns/testdata/configurecoredns_17_already_patched.yaml
  pkg/dns/testdata/configurecoredns_already_patched.yaml
  pkg/dns/testdata/configurecoredns_custom_already_patched.yaml
  pkg/k8s/labels.go
  pkg/portmapping/multiplexed.go
  pkg/portmapping/multiplexed_test.go
  pkg/portmapping/portmapping.go
  pkg/portmapping/portmapping_test.go
  pkg/provider/provider.go
  pkg/provider/provider_test.go
  pkg/provider/testdata/acl-disabled-http-traffic-split-config.json
  pkg/provider/testdata/acl-enabled-http-traffic-split-config.json
  pkg/provider/testdata/acl-enabled-http-traffic-split-http-route-group-config.json
Labels: area/controller, area/services, kind/enhancement, status/3-needs-merge

#770 Add supported SMI spec versions
  docs/content/compatibility.md
Labels: area/documentation, area/smi, kind/bug/fix, status/3-needs-merge
