Repository traefik/mesh, pull requests merged in 2020-07, with the labels that each got.

#654 Fix HTTP/TCP/UDP port limits
  cmd/maesh/maesh.go
  pkg/controller/portmapping.go
  pkg/controller/service.go
  pkg/controller/service_test.go
  pkg/provider/provider.go
Labels: area/controller, kind/bug/fix, status/3-needs-merge

#659 Add a Readme file to the Helm chart repository archive
  helm/chart/README.md
  helm/chart/maesh/Chart.yaml
  helm/chart/maesh/README.md
Labels: area/documentation, area/helm, status/3-needs-merge

#658 Wait for worker goroutine termination before exiting controller loop
  cmd/maesh/maesh.go
  pkg/controller/controller.go
Labels: area/controller, kind/enhancement, status/3-needs-merge

#663 Upgrade Traefik dependency version to v2.2.2
  go.mod
  go.sum
Labels: area/infrastructure, area/traefik, kind/enhancement, status/3-needs-merge

#664 Prepare Release v1.3
  helm/chart/maesh/Chart.yaml
  helm/chart/maesh/charts/metrics/Chart.yaml
Labels: area/infrastructure, kind/enhancement, status/3-needs-merge

#665 Prepare Release v1.3.1
  helm/chart/README.md
  helm/chart/maesh/Chart.yaml
Labels: area/infrastructure, kind/bug/fix, status/3-needs-merge

#670 Upgrade Traefik dependency version to v2.2.3
  go.mod
  go.sum
Labels: area/traefik, bot/light-review, kind/enhancement, status/3-needs-merge

#671 Prepare Release v1.3.2
  helm/chart/maesh/Chart.yaml
Labels: area/infrastructure, bot/light-review, kind/enhancement, status/3-needs-merge

#673 Remove duplicated Helm chart readme
  Makefile
  helm/chart/README.md
Labels: area/helm, area/infrastructure, status/3-needs-merge

#677 Fix unable to find Pod "@"
  pkg/topology/builder.go
Labels: area/smi, area/topology, kind/bug/fix, status/3-needs-merge

#676 Evaluate all services targeted by a TrafficTarget even if one of them already has a TrafficSplit
  pkg/topology/builder.go
  pkg/topology/builder_test.go
  pkg/topology/testdata/topology-traffic-split-traffic-target.json
Labels: area/smi, area/topology, kind/bug/fix, status/3-needs-merge

#682 Remove deprecated option mesh.defaultMode in the Helm chart
  docs/content/migration/helm-chart.md
  helm/chart/maesh/templates/controller/controller-deployment.yaml
  helm/chart/maesh/values.yaml
  integration/testdata/values.yaml
Labels: area/documentation, area/helm, status/3-needs-merge

#679 Use Kubernetes semver to add topology keys if supported
  go.mod
  go.sum
  pkg/controller/service.go
  pkg/controller/service_test.go
Labels: area/controller, area/kubernetes-client, area/services, kind/bug/fix, status/3-needs-merge

#688 Upgrade Traefik dependency version to v2.2.7
  go.mod
  go.sum
Labels: area/traefik, kind/enhancement, status/3-needs-merge

#651 Upgrade CoreDNS component in Helm Chart
  helm/chart/maesh/templates/dns/coredns/coredns-configmap.yaml
  helm/chart/maesh/templates/dns/coredns/coredns-deployment.yaml
  helm/chart/maesh/templates/dns/coredns/coredns-rbac.yaml
  helm/chart/maesh/templates/dns/coredns/coredns-sa.yaml
Labels: area/coredns, area/helm, kind/enhancement, status/3-needs-merge

#694 Prevent shadow-service creation for CoreDNS and a custom release name
  helm/chart/maesh/charts/metrics/templates/grafana-pdb.yaml
  helm/chart/maesh/charts/metrics/templates/grafana.yaml
  helm/chart/maesh/charts/metrics/templates/prometheus-pdb.yaml
  helm/chart/maesh/charts/metrics/templates/prometheus.yaml
  helm/chart/maesh/charts/metrics/templates/rbac.yaml
  helm/chart/maesh/charts/metrics/templates/storage.yaml
  helm/chart/maesh/charts/tracing/templates/jaeger-deployment.yaml
  helm/chart/maesh/charts/tracing/templates/jaeger-pdb.yaml
  helm/chart/maesh/charts/tracing/templates/jaeger-sa.yaml
  helm/chart/maesh/templates/controller/controller-deployment.yaml
  helm/chart/maesh/templates/controller/controller-pdb.yaml
  helm/chart/maesh/templates/controller/controller-rbac.yaml
  helm/chart/maesh/templates/controller/controller-sa.yaml
  helm/chart/maesh/templates/controller/hooks/cleanup-hook.yaml
  helm/chart/maesh/templates/dns/coredns/coredns-configmap.yaml
  helm/chart/maesh/templates/dns/coredns/coredns-deployment.yaml
  helm/chart/maesh/templates/dns/coredns/coredns-rbac.yaml
  helm/chart/maesh/templates/dns/coredns/coredns-sa.yaml
  helm/chart/maesh/templates/dns/coredns/coredns-service.yaml
  helm/chart/maesh/templates/mesh/mesh-daemonset.yaml
  helm/chart/maesh/templates/mesh/mesh-pdb.yaml
  helm/chart/maesh/templates/mesh/mesh-rbac.yaml
  helm/chart/maesh/templates/mesh/mesh-sa.yaml
  helm/chart/maesh/templates/mesh/mesh-service.yaml
Labels: area/helm, kind/bug/fix, status/3-needs-merge

#695 Fix inconsistency in the example page of the documentation
  docs/content/examples.md
Labels: area/documentation, kind/bug/fix, status/3-needs-merge

#680 Use vanilla Traefik image for mesh proxies
  cmd/configuration.go
  cmd/maesh/maesh.go
  cmd/proxy/proxy.go
  docs/content/configuration.md
  docs/content/install.md
  docs/content/migration/helm-chart.md
  go.mod
  helm/chart/maesh/templates/_helpers.tpl
  helm/chart/maesh/templates/controller/controller-deployment.yaml
  helm/chart/maesh/templates/controller/hooks/cleanup-hook.yaml
  helm/chart/maesh/templates/mesh/mesh-daemonset.yaml
  helm/chart/maesh/values.yaml
  integration/helm_test.go
  integration/integration_test.go
  integration/testdata/acl/disabled/http.json
  integration/testdata/acl/disabled/tcp.json
  integration/testdata/acl/disabled/traffic-split.json
  integration/testdata/acl/disabled/udp.json
  integration/testdata/acl/enabled/traffic-split.json
  integration/testdata/acl/enabled/traffic-target.json
  integration/testdata/values.yaml
  pkg/provider/provider.go
  pkg/provider/testdata/acl-disabled-http-basic-config.json
  pkg/provider/testdata/acl-disabled-http-traffic-split-config.json
  pkg/provider/testdata/acl-disabled-tcp-basic-config.json
  pkg/provider/testdata/acl-disabled-udp-basic-config.json
  pkg/provider/testdata/acl-enabled-http-basic-config.json
  pkg/provider/testdata/acl-enabled-http-traffic-split-config.json
  pkg/provider/testdata/acl-enabled-tcp-basic-config.json
  pkg/provider/testdata/annotations-scheme-config.json
  pkg/provider/testdata/annotations-traffic-type-config.json
  pkg/proxy/provider/http/http.go
  pkg/proxy/provider/http/http_test.go
Labels: area/configuration, area/documentation, area/helm, area/traefik, kind/enhancement, status/3-needs-merge

#696 Harmonize docs
  docs/content/assets/img/maesh.logo.horizontal.png
  docs/content/assets/styles/content.css
  docs/content/assets/styles/extra.css
  docs/content/assets/styles/footer.css
  docs/content/assets/styles/header.css
  docs/content/assets/styles/menu.css
  docs/content/assets/styles/product-switcher.css
  docs/content/assets/styles/root.css
  docs/mkdocs.yml
  docs/scripts/verify.sh
  docs/theme/main.html
  docs/theme/partials/containous-header.html
  docs/theme/partials/product-switcher.html
Labels: area/documentation, kind/enhancement, status/3-needs-merge
